modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Streamlit App"

[[workflows.workflow]]
name = "Streamlit App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33321
externalPort = 3001

[[ports]]
localPort = 33751
externalPort = 6800

[[ports]]
localPort = 33843
externalPort = 6000

[[ports]]
localPort = 33967
externalPort = 8000

[[ports]]
localPort = 35913
externalPort = 3000

[[ports]]
localPort = 36111
externalPort = 5000

[[ports]]
localPort = 36203
externalPort = 8080

[[ports]]
localPort = 37325
externalPort = 4200

[[ports]]
localPort = 40715
externalPort = 8008

[[ports]]
localPort = 43267
externalPort = 8081

[[ports]]
localPort = 45701
externalPort = 3003

[[ports]]
localPort = 46131
externalPort = 5173

[[ports]]
localPort = 46581
externalPort = 3002
